<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <p style="margin-left:550px;"><a href="retrieve">Check data</a></p>
    <h2>Registration form</h2>
    
    <form class="form-horizontal" action="create" method="POST">
      {% csrf_token %}
    
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="name" placeholder="Enter Name" required >
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Age">Age:</label>
        <div class="col-sm-2"> 
          <input type="text" class="form-control" name="age" placeholder="Enter Age" required >
        </div>
      </div>
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="address">address:</label>
        <div class="col-sm-4">	  
          <textarea name='address' class="form-control" rows="5" placeholder="Enter Age" required></textarea>
        </div>
      </div>   
      
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>